.header {
    background-image: url('/assets/test.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;
}

@media (max-width: 768px) {
    .header {
        height: 60vh;
    }
}

@media (max-width: 480px) {
    .header {
        height: 50vh;
    }
}

@media (max-width: 320px) {
    .header {
        height: 30vh;
    }
}
